# Telegram Bot Token (получен от @BotFather)
TELEGRAM_BOT_TOKEN=8878230117:AAFUgeUBJLkAWVPRekI1XVce7sjFkbqEAA4

# Yandex Cloud API Key
YC_API_KEY=AQVN0C5Lpsmk89b7Z4VziHFPWJA5VzwsQK-tm-rT

# Yandex Cloud Folder ID
YC_FOLDER_ID=b1g47ois806lr9o1sip

# Yandex Cloud Service Account ID
YC_SERVICE_ACCOUNT_ID=aje6k8j0t9mcdj1ifjjs7

# Модель YandexGPT (можно изменить на нужную)
YC_MODEL_URI=gpt://b1g47ois806lr9o1sip/yandexgpt-lite/latest
